body {
  margin: 0px auto;
  font-family: sans-serif;
  max-width: 1200px;
}

nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color:#c0146c;
  margin: 0;
}

.navDivLeft {
  display: inline-flex;
}

a {
  padding: 0px 20px;
  color: white;
  text-decoration: none;
}

.navDivLeft > p {
  color: rgb(56, 54, 54);
  text-transform: uppercase;
  margin: 0 30px;
}

.search {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.search > input, .search > button {
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  border-color:white;
}

.search > input {
  padding: 10px 20px;
}

.search > button {
  background-color: #c0146c;
  border-style: solid;
  color: white;
  padding: 0 20px;
  height: 40px;
  align-self: center;
  cursor: pointer;
}

.main {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
}

.MovieListCard {
  display: inline-flex;
  margin: 50px 0 10px 0;
  max-width: 360px;
}

.MovieListCard > img {
  width: 100%;
}

.image {
  max-width: 300px;
  min-height: 200px;
}

.MovieListCardInfoDiv {
  background-color: #c0146c;
  padding: 2px 16px;
  font-size: 14px;
}

.MovieListCardInfoDiv > p {
  text-align: left;
}

.MovieListCardBottomDiv {
  display: flex;
  justify-content: space-between;
}

.MovieDetails {
  min-width: 600px;
  width: 100%;
}

.MovieDetailsImage {
  max-height: 400px;
}

.MovieDetailsTitle {
  background-color: #c0146c;
  text-transform: uppercase;
  padding: 6px 0;
}

.MovieDetailsInfo {
  background-color: rgb(250, 250, 250);
  color: rgb(155, 147, 147);
  text-align: left;
  padding: 20px 30px;
}

.MovieDetailsRatingDiv {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid hsl(0, 0%, 70%);
  border-bottom: 1px solid hsl(0, 0%, 70%);

}

.MovieDetailsOverallScoreCont {
  max-width: 220px;
  background-color: white;
  border: 1px solid hsl(0, 0%, 70%);
  color: #c0146c;
  padding: 10px 10px;
  margin: 30px 0;
  padding-bottom: 0px;
  text-transform: uppercase;
}

.MovieDetailsOverallScoreCont > h3 {
  background-color: white;
  color: #c0146c;
  font-weight: 200;
  font-size: 16px;
}

.MovieDetailsOverallScoreCont > p {
  font-size: 36px;
  background-color: #c0146c;
  color: white;
  padding: 40px 0px;
  margin: 40px -10px 0px 80px;
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.MovieDetailsButtons {
  text-align: end;
  margin-top: 20px;
}

.MovieDetailsButtons > button {
  margin: 0 20px;
  cursor: pointer;
  background-color: white;
  border: none;
  color: grey;
  font-size: 16px;
}